<h1>New Bookmark</h1>

<form action="/create_bookmark">
  <div>
    <label for="title">title</label><br />
    <input id="title" name="title" type="text" />
  </div>
  <div>
    <label for="url">url</label><br />
    <input id="url" name="url" type="text" />
  </div>
  <div>
    <label for="descrip">description</label><br />
    <input id="descrip" name="descrip" type="text" />
  </div>
  <div>
    <label for="user-id">user id</label><br />
    <input id="user-id" name="userid" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

